<a href="https://colab.research.google.com/github/minjunkim-99/pytohn/blob/main/py_bban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CH1 파이썬 문법**

## 자료형  
#### 숫자형  
* 정수 : 123, -20, 0  
* 실수 : 123.45, -423.24, 6.08e9  
* 8진수 : 0o456, 0o123  
* 16진수 : 0xFF, 0x0D, 0x0A

#### 문자열  
1.큰 따옴표 : "Hello World! it'\s"  
2.작은 따옴표 : '안녕하세요'  
3.큰 따옴표 3 : """Hello!"""  
4.작은 따옴표 4 : ''''대충 문장이 길면 작은 따옴표 4개 쓴다는 뜻''''

#### 변수
* 문자 또는 밑줄로 시작 (alpha, beta, _kim)  
* 대소문자로 구분한다.(sum, Sum, SUM)
* 영문자, 숫자, 밑줄(a-z, 0-9,_)  
* 파이썬 키워드는 사용 불가

In [1]:
myName="minjun Kim" #카멜 표기법 약칭 낙타표기법
my_Name="김민준" #스네이크 표기법
MyName="kim" #파스칼 표기법
_my_Name="korea"
MYNAME="failed"
my2name="12345"
#틀린 예시 (왠지 시험에 나올거같음)
#2myname='9876'
#my-name="6974"
#my name='00000'
myStr='123' # 작은 따옴표는 글자
myNum=123 # <--경우는 숫자
print(myStr,myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

####여러개 변수 할당

In [2]:
x,y,z="바나나","알러지","원숭이"
print(x)
print(y)
print(z)

바나나
알러지
원숭이

In [3]:
a=b=c="오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [4]:
fruit=["포도","사과","오렌지"]
x,y,z=fruit
print(x)
print(y)
print(z)

포도
사과
오렌지

In [5]:
x="Life"
y="is"
z="Beautiful"
print(x,y,z)
print(x+y+z)

Life is Beautiful
LifeisBeautiful

In [6]:
a=1
b=2
c=3
print(a,b,c,)
print(a+b+c)

1 2 3
6

#### 데이터 유형  
+ 텍스트  
+ 숫자  
+ 불(Bool)

In [7]:
a=10
b=3
c=a/b #나눗셈
d=a//b #몫
e=a%b #나머지
f=a*b #곱셈
g=a**b #제곱(시험에 나옴)
print(c,d,e,f,g)

3.3333333333333335 3 1 30 1000

####input() 함수를 이용한 계산기

In [ ]:
a = int(input("첫번째 숫자를 입력해주세요: "))
b = int(input("두번째 숫자를 입력해주세요: "))
result = a + b
print(a, '+', b, '=', result)
result = a - b
print(a, '-', b, '=', result)
result = a ** b
print(a, '**', b, '=', result)
result = a // b
print(a, '//', b, '=', result)

In [ ]:
num1 = input("숫자입력:")
num2 = input("숫자입력:")
result = num1 + num2
print(type(num1))
print(num1,'+', num2,'=',result)

#### 전화번호, 이름 무게를 입력받아 출력:
입력한 내용은 이름 "김민준",  
전화번호 "010-4237-1537" 입니다.  
무게는 입력한 g x 10원 = 산출 금액 출력

In [ ]:
a=input("전화번호를 입력해주세요 : ")
b=input("이름을 입력해주세요 : ")
c=int(input("무게를 입력해주세요 : "))
d= "전화번호 : "
e= "이름 : "
f= "산출 금액: "
g= "원"
result = c*10
print(d, a)
print(e, b)
print(f, result, g)

#2. print() 서식 출력

예시 %7.1에서 7은 .을 포함해서 총 7개의 자릿수를 가지며 1은 소수점의 자릿수이다.  
%07.1일때 123.45는 00123.4가 된다.
(시험 출제)

In [ ]:
print("%d" % 123)  
print("%5d" % 123)
print("%05d" % 123)
print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%s" % "대한민국")
print("%8s" % "대한민국")

### Format 함수 : 순서 지정 가능

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

In [ ]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

서식 출력

In [ ]:
print("\n줄바꿈\n연습입니다.")

In [ ]:
print("\t탭키\t연습입니다.")

In [ ]:
print("글자가 \"강조\"되는 효과1")
print("글자가 \'강조\'되는 효과2")
print("역슬래시 3개출력 \\\\\\")
print(r"\n \t \" \\ \'@를 그대로 출력") #그대로 출력됨

#### 관계 연산자

In [ ]:
a,b = 10,20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

논리 연산자

In [ ]:
a=99
print((a>100) and (a<200))
print((a>100) or (a<200))
print(not(a==100))

In [ ]:
if(123):
  print("진실이면 보입니다.")
if(0):
  print("거짓이면 안 보입니다.")

### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램( 500원, 100원, 50원, 10원)

In [ ]:
bill, c500, c100, c50, c10 = 0,0,0,0,0
bill=int(input("값을 입력해주세요. : "))
c500 = bill // 500
bill %= 500 #bill %= 500
c100 = bill // 100 
bill %= 100
c50 = bill // 50
bill %=  50
c10 = bill // 10
bill %= 10
print("500원 %d 개" % c500)
print("100원 %d 개" % c100)
print("50원 %d 개" % c50)
print("10원 %d 개" % c10)
print("잔돈 %d원" % bill)

## 조건문

In [ ]:
a=90
if(a<100):
  print("100보다 작음")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

In [ ]:
a=101
if(a<100):
  print("100보다 작음")
else :
  print("100보다 크다")
print("프로그램 끝")

In [ ]:
a=int(input("정수를 입력하세요:"))
if(a%2==0):
  print("짝수")
else:
  print("홀수")

In [ ]:
a=111
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

In [ ]:
fruit=['사과','배','감','포도']
fruit.append('딸기')
if '딸기' in fruit :
  print("딸기가 있음")
print(fruit)

In [ ]:
import random
number=[]
for num in range(0,7):
  number.append(random.randrange(1,49))
print("생성된 리스트", number)

###반복문

In [ ]:
for i in range(0,3,1): #시작값 , 끝값+1, 증가값 (시험 출제 확률 있음)
  print("%d 안녕하세요" % i)  #반복 내용
  #print(i)
print("행복하세요")    #

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end=" ")
print("\n")
for i in range(1,9,1):
  print("%d" % i, end="")

In [ ]:
sum=0
for i in range(1,11,1):
  sum = sum + i
print("1~10까지 합계 : %d" % sum)

#### 퀴즈3 : 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 for문을 사용하여 출력하시오.

In [ ]:
sum, a = 0, 0
a=int(input("정수를 입력하세요:"))
for i in range(1,a+1,1):
  sum = sum + i
print("1~n 까지의 합계 : %d" % sum)

#### 중첩 for문

In [ ]:
a,b=0,0
for a in range(1,10,1):
  for b in range(2,6,1):
    print("%d x %d = %2d \t " % (b,a,a*b), end='')
  print("")
print("")
c,d=0,0
for c in range(1,10,1):
  for d in range(6,10,1):
    print("%d x %d = %2d \t " % (d,c,c*d), end='')
  print("")